<article class="blog-post">
  <h1><%= @blog_post.title %></h1>
  <div class="post-meta">
    <span class="post-date">Published on: <%= @blog_post.published_at.strftime("%B %d, %Y") %></span>
  </div>
  <div class="post-content">
<%= @blog_post.content %>
  </div>
  <div class="post-navigation">
    <%= link_to "Back to all posts", blog_posts_path %>
    <% if user_signed_in? %>
      | <%= link_to "Edit", edit_blog_post_path(@blog_post) %>
      | <%= link_to "Delete", blog_post_path(@blog_post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
    <% end %>
  </div>
</article>
